[submodule "mindmapit"]
	path = mindmapit
	url = https://github.com/jlangeveld/mindmapit.git
[submodule "markdowned"]
	path = markdowned
	url = https://github.com/jlangeveld/markdowned.git
[submodule "keeweb"]
	path = keeweb
	url = https://github.com/jlangeveld/keeweb.git
	branch = gh-pages
